body {
    
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: 300px;
    text-align: center;
}

.title {
    font-size: 80px;
    margin-top: 100px;
    padding: auto;
}

.frase {
    font-size: 100px;
    margin-top: 10px;
    padding: auto;
}

/* GIF abaixo e centralizado */
.gif {
    margin-top: 15px;
    width: auto;   /* tamanho controlado */
    height: auto;
}